/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



/*HOME PAGE CSS
  HOME PAGE CSS
  HOME PAGE CSS
  HOME PAGE CSS
  HOME PAGE CSS
  HOME PAGE CSS*/



/*HEADER STYLING - H1 BUTTON IMG*/
header{
	width: 100%;
	padding: 2% 0%;
	display: flex;	
	justify-content: space-evenly;
}
.left-side{
	display: flex;
	width: 40%;
	flex-direction: column;
	justify-content: center;	
}
h1{
	font-size: 6em;
	text-align: center;
	letter-spacing: 2px;	
}
.left-side button{
	border: 1px solid black;
    width: 27%;
    height: 10%;
    padding: 1% 0%;
	margin: 0 36%;
	font-size: 20px;
	font-family: "Titillium Web";
}
.circle{
	display: flex;
	width: 27%;	

}
/*SECTION ONE - FEATURES/ABOUT*/

.one div{
	display: flex;
	width: 30%;
	flex-direction: column;
}
.one{
	border-top: 1px solid black;
	display:flex;
	justify-content: space-between;
	margin: 4% 8%;
}
.one p{
	margin-top: 1%;
}
h2{
	font-family: "Bangers";
	padding: 2% 0;
	margin-top: 1%;
	font-size: 30px;
}
p{
	font-family: "Titillium Web";
	font-size: 20px;
}

/* IMG STYLING IN MIDDLE

div .middle-img{
	display: ;
	width: 81em;
	padding: 3% 0;
} */

/*SECTION TWO --3 HEADINGS STYLING*/

.two div{
	display: flex;
	width: 33%;
	flex-direction: column;
}
.two{
	display:flex;
	margin: 4% 7.25%;
	justify-content: space-between;
}

/*CONTACT STYLES*/

.four{
	margin: 0 20%;
	border-top: 1px solid black;
	margin: 0 14% 0% 8%;
}
.contactMe{
	margin: 0 0 0 0;
}
.info{
	margin: 0 0 0 0:
}
.four p{
	line-height: 120%;
}
/* FOOTER STYLING
footer{
	text-align: center;
	margin-bottom: 10%;
} */




/*SIMILAR DESIGN CSS
  SIMILAR DESIGN CSS
  SIMILAR DESIGN CSS
  SIMILAR DESIGN CSS
  SIMILAR DESIGN CSS
  SIMILAR DESIGN CSS*/



/* NAGIVATION STYLES */
nav a{
	font-size: 15px;
	color: lightgray;
	text-decoration: unset;
	display:flex;
	margin: 2% 0 0;
}
nav{	
	display:flex;
	justify-content: space-evenly;
}

/*IMG STYLING IN MIDDLE*/
.middle-img{
	display:flex;
	width: 84%;
}
.image{
	display:flex;
	justify-content: center;
}
.services-header-img{
	width: 81.5%;
	margin:1%;
}
/*FOOTER STYLING*/
footer{
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 6.5%;
}


/*800px VIEW--AKA THE TABLET VIEW*/
@media(max-width:800px){
    
}

/*500px VIEW--AKA THE MOBILE VIEW*/
@media(max-width:500px){

}